KERNELBRANCH="branch:master"
KERNELSOURCE="https://git.linuxtv.org/media_tree.git/"
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL python3 python3-dev gcc-10 gcc python3-yaml python3-ply python3-jinja2 libgnutls28-dev openssl libboost-dev git ninja-build pkg-config debhelper dh-autoreconf autotools-dev autoconf-archive doxygen graphviz libasound2-dev libtool libjpeg-dev libudev-dev libx11-dev udev make git vim vim-nox libevent-dev python3-pip g++-10 silversearcher-ag g++ cmake"
